.father{
    position: absolute;
    border: 2px solid black;
    width: 1440px;
    height: 100px;
    left: 0px;
    top: 100px;
}
.kar{
    position: absolute;
    width: 131px;
    height: 72px;
    left: 100px;
    top: 17px;
}
.hr{
    position: absolute;
    width: 1px;
    height: 40px;
    left: 258px;
    top: 31px;
    background-color: gray;
}
h3{
    position: absolute;
    width: 22px;
    height: 21px;
    left: 285px;
    top: 28px;
}
h4{
    position: absolute;
    width: 35px;
    height: 20px;
    left: 279px;
    top: 51px;
    
    background:rgb(55, 218, 104);
    border-radius: 2px;
}

p{
    position: absolute;
    width: 75px;
    height: 19px;
    left: 365px;
    top: 31px;
    font-family: monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #393939;
}

.nomer1{
    position: absolute;
    width: 75px;
    height: 19px;
    left: 365px;
    top: 31px;
    font-family: monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #393939;
}

.nomer2{
    position: absolute;
    width: 74px;
    height: 19px;
    left: 365px;
    top: 54px;
    font-family: monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #393939;
}
.fecebook{
    position: absolute;
    left: 25.78%;
    right: 24.21%;
    top: 0%;
    bottom: 0%;
    background:black;
}
.instagram{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 521px;
    top: 42px;
    opacity: 0.5;
}
.youtube{
    position: absolute;
    left: 3.08%;
    right: 3.17%;
    top: 16.3%;
    bottom: 18.06%;
    background:black;
}